
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Nombre de Producto</th>
        <th scope="col">Características</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-primary" *ngFor="let producto of productos">
            <td><a href="{{producto.img}}"><img class="img-fluid" src="{{producto.img}}" width="100" height="100"></a></td>
            <th scope="row">{{producto.nombre}}</th>
            <td>{{producto.Caractertisticas}}</td>
            <td>{{producto.precio}}</td>
            <td><a routerLink="/buy/{{producto.id}}" style="color:white;"  class="btn btn-info btn-sm">Comprar</a></td>
          </tr>
        </tbody>
      </table>