<div class="jumbotron mx-auto">
<div class="card text-white bg-primary mb-3 mt-2" style="max-width: 20rem;">
    <div class="card-header"><a style="color:white;" routerLink="/incendio">INCENDIO</a></div>
    <div class="card-body">
      <p class="card-text">
        Haga click aqui para reportar riesgo de incendio y solicitar la presencia de personal
        capacitado para convatir el problema.
      </p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header"><a style="color:white;" routerLink="/salud">SALUD</a></div>
      <div class="card-body">
          <p class="card-text">
              Haga click aqui si usted u otra persona dentro de su residencia tiene una emergencia de salud y 
              se ve en la necesidad de solicitar la presencia de una ambulancia y equipo de paramedicos en su 
              domicilio.
            </p>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header"><a style="color:white" routerLink="/robo">ROBO</a></div>
        <div class="card-body">
          <P>
            Si usted ha sido victima de robo u alguna persona cercana a usted, haga click aqui para solicitar
            de la policia lo mas pronto posible hacia su dirección.
          </P>
          </div>
      </div>
  </div>