<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SecurityHome</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">

    <ul class="navbar-nav mx-auto">
        <li class="nav-item active" *ngIf="isLogin">
        <a class="navbar-brand" routerLink="/privado" >Vecindarios</a>
        <a class="navbar-brand" routerLink="/privado">Usuarios</a>
        <a class="navbar-brand" routerLink="/privado">Emergencias</a>
        </li>
      <li class="nav-item active" *ngIf="!isLogin">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" routerLink="/Registro">Registro</a>
      </li>
    
      <li class="nav-item">
          <a class="nav-link">{{nombreUsuario}}</a>
      </li>

      <li class="nav-item" *ngIf="isLogin">
          <a class="nav-link" href="#" (click)="onClickLogout()">Cerrar Sesión</a>
        </li>
        
      <li class="nav-item" *ngIf="isLogin">
        <img src="{{fotoUsuario}}" class="rounded-circle">
      </li>
    </ul>
  </div>
</nav>


<!--<span class="badge pill badge-secondary">{{emailUsuario}}</span>-->