<br>
<hr>
<h1 style="color:darkred; text-align: center;">Chat..</h1>
<hr>
<div class="chat-window" style="margin-left:20%;width: 70%;">
<div class="app-mensajes" id="app-mensajes">
  
    <div class="text-right" *ngFor="let chat of _cs.chats">
      <span class="badge badge-success">{{chat.nombre}}</span>
      <p>
        {{chat.mensaje}}
      </p>
    </div>
<!--  
    <div>
        <span class="badge badge-secondary">Prueba</span>
        <p>
          Este es un mensaje de prueba de chat segundo
        </p>
      </div> </div>-->
  
</div>
<input type="text" name="mensaje"  style="margin-top:9%;"
  [(ngModel)]="mensaje" 
  (keyup.enter)="enviar_mensaje()"
  class="form-control"
  placeholder="Enviar Mensaje..">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
