  <div class="modal fade" id="modalPr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="formProd" #formProd="ngForm" (ngSubmit)="onSaveprod(formProd)">
            <div class="form-group">
              <label for="nombre">Nombre de Producto</label>
              <input type="text" name="nombre" [(ngModel)]="this.dataApi.selectedProd.nombre"  class="form-control" >
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Caracteristicas">Caracteristicas</label>
                <input type="text" name="Caractertisticas" [(ngModel)]="this.dataApi.selectedProd.Caractertisticas" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="precio">Precio</label>
                <input type="text" name="precio"  [(ngModel)]="this.dataApi.selectedProd.precio" class="form-control" placeholder="$0.00">
              </div>
            </div>
            <div class="form-group">
              <label for="portada">Imagen de producto</label>
              <input type="text" name="img" class="form-control" placeholder="www.imagenes.com/medicamento" [(ngModel)]="this.dataApi.selectedProd.img">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>